<div class="taskItemBlock">
  <div class="taskItem-{{ task.id }} status-{{ task.status }}">
    <a class="taskLink" href="{% url 'tasks:detail' task.id %}">
      {{ task.title }}
    </a>
    <div class="buttonBlock">
      <button
        type="button"
        class="task-button status-button"
        id="startButton-{{ task.id }}"
        action=""
      >
        <i class="bi bi-play-fill"></i>
      </button>
      <button
        type="button"
        class="task-button status-button"
        id="doneButton-{{ task.id }}"
        action=""
      >
        <i class="bi bi-check-lg"></i>
      </button>
      <button
        type="button"
        class="task-button status-button"
        id="deferButton-{{ task.id }}"
        action=""
      >
        <i class="bi bi-stop-fill"></i>
      </button>
      <button
        type="button"
        class="task-button status-button"
        id="cancelButton-{{ task.id }}"
        action=""
      >
        <i class="bi bi-x-lg"></i>
      </button>
      {% if task.continuations.all|length > 0 %}
      <button
        id="toggle-continuations-{{ task.id }}"
        class="toggle-continuations task-button"
      >
        <i class="bi bi-chevron-up"></i>
      </button>
      {% endif %}
    </div>
    <div class="continuations-block" id="continuations-{{ task.id }}">
      <ul class="taskList continuationsList">
        {% for continuation in task.continuations.all %}
        <li>
          {% include "tasks/continuations.html" with task=continuation only %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
