{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Task" content="width=device-width, initial-scale=1" />
    <title>{{ task.title|slice:"0:30" }}</title>
    <link href="{% static 'tasks/css/style.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'tasks/js/taskStatusFlow.js' %}"></script>
  </head>
  <body>
    {% include "tasks/navbar.html" %}
    <h3 class="taskTitle">{{ task.title }}</h3>

    <h5 class="taskStatus">
      Status
      <div id="taskStatus" class="status-{{ task.status }}">
        {{ task.status }}
      </div>
    </h5>

    {% if task.description|length > 0 %}
    <p class="taskDescription">{{ task.description }}</p>
    {% endif %}

    <h4>Dependencies:</h4>
    <ul class="taskDependenciesList">
      {% for parent in task.dependencies.all %}
      <li>
        <a href="{% url 'tasks:detail' parent.id %}"
          >{{ parent.title|slice:"0:50" }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <h4>Continuations:</h4>
    <ul class="taskContinuationsList">
      {% for child in task.continuations.all %}
      <li>
        <a href="{% url 'tasks:detail' child.id %}"
          >{{ child.title|slice:"0:50" }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <div class="taskActions">
      <input type="button" name="stop" value="Defer" id="deferButton" />
      <input type="button" name="start" value="Start" id="startButton" />
      <input type="button" name="done" value="Done" id="doneButton" />
      <input type="button" name="cancel" value="Cancel" id="cancelButton" />
      <input
        type="button"
        name="addDepencency"
        value="Add dependency"
        id="addDepencencyButton"
      />
    </div>
    <script> 
      const csrftoken = Cookies.get('csrftoken');
      const updateStatusUrl = "{% url 'tasks:update_status' %}";

      document.getElementById("startButton").addEventListener("click", async () => {
        await updateStatus(updateStatusUrl, "IN_PROGRESS", {{ task.id }}, csrftoken);
      });

      document.getElementById("deferButton").addEventListener("click", async () => {
        await updateStatus(updateStatusUrl, "TODO", {{ task.id }}, csrftoken);
      });

      document.getElementById("doneButton").addEventListener("click", async () => {
        await updateStatus(updateStatusUrl, "DONE", {{ task.id }}, csrftoken);
      });

      document
        .getElementById("cancelButton")
        .addEventListener("click", async () => {
          await updateStatus(updateStatusUrl, "CANCELLED", {{ task.id }}, csrftoken);
        });
    </script>
  </body>
</html>
